body {
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background: url('https://images.unsplash.com/photo-1512444962578-8e76816718b7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDN8fGZvb2QlMjBhbG9uZ3xlbnwwfHx8fDE2NjA1NzEyNw&ixlib=rb-1.2.1&q=80&w=1920') no-repeat center center;
    background-size: cover;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  